@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

main, body, html {
	height: 100%;
	overflow: hidden;
}

.espacio{
	margin-left: 500px;
	margin-top: 20px;
}
